.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 40px;
}

.button-back {
  position: absolute;
  left: 3%;
}

.number-card {
  font-size: 30px;
}
