// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: #7ca2e3;
$secondary: #e98985;
$accent: #fed898;
$accent-light: #abd5d6;
